
<div id="advertisement">
These slides brough to you by Dantewiki.
</div>

<div id="intendReveal" class="reveal">
			<div class="slides">
<!-- now come the section elements themselves -->
{{{foreachportion}}}
</div>
</div>

<script src="../skins/DantePresentationSkin/vendor/reveal/plugin/notes/notes.js"></script>
<script src="../skins/DantePresentationSkin/vendor/reveal/plugin/markdown/markdown.js"></script>
<script src="../skins/DantePresentationSkin/vendor/reveal/plugin/highlight/highlight.js"></script>
<script src="../skins/DantePresentationSkin/vendor/reveal/plugin/search/search.js"></script>
<script src="../skins/DantePresentationSkin/vendor/reveal/plugin/zoom/zoom.js"></script>
<script src="../skins/DantePresentationSkin/vendor/reveal/plugin/math/math.js"></script>

<script src="../skins/DantePresentationSkin/vendor/reveal/dist/reveal.js"></script>







